body{
  background-image: url("https://insidemyprmind.files.wordpress.com/2016/05/background-color-run-colorful-explosion-favim-com-25168791.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
