
#Asics {
  float: left;
  margin: 0
  border-top 1px;
  border-bottom 1px;
}

#Brooks{
  float: left;
  margin: 0
  border-top 1px;
  border-bottom 1px;
}
#NB{
  float: right;
  margin: 0
  border-top 1px;
  border-bottom 1px;
}
#Nike{
  float: right;
  margin: 0
  border-top 1px;
  border-bottom 1px;
}

td{
  border: 1px;
  padding:35px;
