
table.center{
margin-left: auto;
margin-right: auto;
}

#Asics {
border-collapse: collapse;
}

#Brooks{
border-collapse: collapse
}

#NB{
border-collapse:collapse;
}

#Nike{
border-collapse: collapse;
}
#logos{
margin-left: auto;
margin-right: auto;
width: 100%
}
